<div class="container">
<div class="page-header">
  <h1>{{ title }}</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>But</h3>
  </div>
  <div class="panel-body">
    <p>Le but de cette application était d'utiliser le framework angular2
    afin de réaliser un projet de bloc note.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>A faire</h4>
  </div>
  <div class="panel-body">
    <p>Certaines améliorations sont encore a effectuer mais l'application
     est entièrement fonctionnelle.</p>
   </div>
  </div>
</div>
