<div class="container">
    <div class="page-header">
      <h1>{{ title }}</h1>
    </div>

  <table class="table table-striped">
    <tr>

      <td>
        <input id="title"
               type="text"
               class="form-control"

               [(ngModel)]="newcategory.name"
               #ctrl="ngModel" required/>
      </td>
      <td class="text-right">
        <button class="btn btn-sm btn-info"
                (click)="newCategory(newcategory)"
                routerLink="/categories"
                routerLinkActive="active"
                [disabled]="!ctrl.valid">
          Valider
        </button>
        <button class="btn btn-sm btn-danger"
                (click)="deleteNewCategory()"
                routerLink="/categories"
                routerLinkActive="active">
          Fermer
        </button>
      </td>
    </tr>
  </table>
</div>
