<div class="container">
    <div class="page-header">
      <h1>{{ title }}</h1>
    </div>

  <table class="table table-striped">
    <tr *ngIf="new_category">
      <td>
        <input id="title"
               type="text"
               class="form-control"
               required="true"
               [(ngModel)]="new_category.name"/>
      </td>
      <td class="text-right">
        <button class="btn btn-sm btn-info"
                (click)="newCategory(new_category)"
                routerLink="/categories"
                routerLinkActive="active">
          Validate
        </button>
        <button class="btn btn-sm btn-danger"
                (click)="deleteNewCategory()"
                routerLink="/categories"
                routerLinkActive="active">
          Close
        </button>
      </td>
    </tr>
  </table>
</div>
