<div class="container">

  <table class="table table-striped">
    <tr *ngFor="let category of categories; let i = index;">
      <td>
        <span *ngIf="category_edited != i">
          {{ category.name }}
        </span>
        <input id="title"
               type="text"
               class="form-control"
               required="true"
               *ngIf="category_edited == i"
               [(ngModel)]="category.name"/>
      </td>
      <td class="text-right">
        <button class="btn btn-sm btn-success"
                (click)="updateCategory(category, i)"
                *ngIf="category_edited == i">
          Validate
        </button>
        <button class="btn btn-sm btn-default"
                (click)="category_edited = -1"
                *ngIf="category_edited == i">
          Close
        </button>
        <button class="btn btn-sm btn-default"
                (click)="category_edited = i"
                *ngIf="category_edited != i">
          <i class="glyphicon glyphicon-pencil"></i>
          Modify
        </button>
        <button class="btn btn-sm btn-default"
                (click)="deleteCategory(category, i)">
          <i class="glyphicon glyphicon-trash"></i>
          Delete
        </button>
      </td>
    </tr>

  </table>
</div>
